
form > input[type=submit]{
    display:block;
    font-size: 1em;
    width: 50;
    background-color: beige;
}
body{
    
    background-color: blueviolet;
    /*background-image: url(img/0943.png) c;*/
    
   

}
img{
    
    margin: 0px auto;
    border-radius:  20px;
    overflow: hidden;
    border: solid 5px rgb(255, 255, 255);
    margin-top: 800;


    

}

#imagem{
    
    position: absolute;
    margin-left: calc(50% - 750px);
   top: 150px;
    z-index: 0;
}

.form {
   background-color: #FFFFFF;
   padding: 200px;
   padding-left: 120px;
   padding-right: 120px;
   
   border-radius: 68px;
    float: left;
    position: relative;

   top: 200px;
    transform: translateX(425px);
    margin-left: calc(35% - 750px);
    
    z-index: 10;

}
#imagem2{
    padding: 500px;
    margin-top: -800px;

    position: relative;
    transform: translateY(-900px);
    transform: translateX(400px);
    margin-left: calc(35% - 750px);
}
