.header
{background-color:#472009 ;
    position: fixed;
	width: 100%;

}

body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	position: absolute;
	
	left:0;
	top:0;
	z-index: 99;
	
}
.header-main{
	background-color:#472009;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	border-radius: 4px;
	
  width: 100vw
    


}

.header .nav-menu{
	position: relative;
	left: -230px; /* ou outro valor negativo que ajuste a posição para a esquerda */
}


.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: #FE9800;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
	
}
.header .menu > .menu-item{
	display: inline-block;
	margin-right: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #FE9800;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.logo img{
	width: 50px;
	top: 25px;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color:#FE9800;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #FE9800;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: #ffffff;
}
.sub-menu > a{

	color: #00a7ff;
}
.sub-menu li:hover > a{
	
	border-left: 8px solid black;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #FE9800;
	padding: 10px 0;
	border-top: 3px solid ;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}